<!DOCTYPE html>
<html>
<head>
  <title>Demo_app</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag 'jquery', :debug => Rails.env.development? %>
  <%= javascript_include_tag 'jqueryUi', :debug => Rails.env.development? %>
  <%= javascript_include_tag 'application', :debug => Rails.env.development? %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body style="background-color: rgb(146, 146, 146)">
<%if current_user%>
  <div style="float: right;margin: 38px 5%;"><button><%=link_to "Sign out", destroy_user_session_path%></button></div><br/>
<%end%>
<%= yield %>

</body>
</html>
